pandas

torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
torch_geometric

--find-links https://data.pyg.org/whl/torch-2.1.0+cpu.html 
torch_scatter 
torch_scatter 
torch_sparse 
torch_cluster 
torch_spline_conv 

